


main{
    
    flex:1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 250px;

    width: 100%;
     max-width: 1440px;
}

main img{
    width: 600px;
}

.main_info p{
    font-size: 18px;
    margin: 20px 0 28px;
}
.main_info div{
    display: flex;
    column-gap: 32px;


}

.main_info div a, .main_info div button{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.main_info div a {
    background: var(--yellow);
}

.main_info div button {
    background: transparent;
    border: 5px solid var (--yellow);
}
.main_info{
    width: 100%;
    max-width: 570px;
}

.main_info img{
    width: 420px;
    
}

.main_info2 img{
    width: 850px;
   
    margin-left: 100px;
   
}

audio{
    width: 180px;
}

.candy {
    width: 50px;
    height: 50px;
    background-color:#3D1F14; 
    position: absolute;
    border-radius: 50%;
  }
  
 
  @keyframes roll {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(200vh) rotate(360deg);
    }
  }

.história{

    flex:1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 390px;
    margin-top: -550px;

    border-radius: 20px;

    width: 100%;
    max-width: 1440px;

}

.história p{
    font-size: 20px;
    margin: 20px 0 48px;
    align-items: center;
    border: solid #FFC12B 2px;
    border-radius: 10px;
    padding: 50px;
    
    
}
.imagem{
    margin-top: -180px;
    background-color: #8d7b3e00;
   
}
.imagem2, .imagem3 , .imagem4 , .imagem5 , .imagem6 {
    flex: 0 0 48%; 
    margin-right: 10px; 
}

.imagem2 img, .imagem3 img , .imagem4 img , .imagem5 img , .imagem6 img {
    width: 100%; 
    height: auto; 
}


.titulo{
   text-align: center;
   margin-top: 200px;
   font-size: 30px;
   color:#FFC12B;
   padding: 45px;

   
   

}

.titulo2{
    text-align: center;
   margin-top: 200px;
   font-size: 30px;
   color:#C5A18B;
   padding: 45px;
}

.titulo3{
    text-align: center;
   margin-top: 50px;
   font-size: 30px;
   color:#FFC12B
}

@media screen and (max-width: 768px) {
    .main
    .main img {
        width: 30px; /* Reduz o tamanho para telas menores */
    }
}

@media screen and (max-width: 480px) {
    .main_info
    {
        width: 20px; /* Reduz ainda mais para telas muito pequenas */
    }
}